<% if flash.include?(:notice) %>
<div class="notice">
	<%= flash[:notice] %>
</div>
<% end %>
<div id="new-url-box">
	<%= form_for(@urlEntry, :html => { :multipart => true }) do |f| %>
	<%= f.text_field :url, :class => 'default-label', :title => "URL" %>

	<%= f.text_field :key, :class => 'default-label', :title => "Short Name" %>

	<%= f.file_field :attachment %>

	<%= submit_tag "Add" %>
	<% end %>
</div>
<div id="url-list" cellpadding="0" cellspacing="0">
	<table>
		<thead>
			<tr>
				<th>Key</th>
				<th>Url</th>
			</tr>
		</thead>
		<tbody>
			<% @entries.each do |entry| %>
			<tr>
				<td class="key-entry"><%= entry.key %></td>
				<td class="url-entry">
				<%= link_to truncate(entry.url, :length => 50), entry.url, :title => entry.url %>
				<span class="hover-delete"><%= link_to image_tag("delete_button.png", :class => "delete-button"),
					entry, :confirm => "Are you sure you want to delete '#{entry.key}'?", :method => :delete %></span>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
